<!-- <nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Vumbua</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/home/NeedHelp?" class="nav-link" href="#">News feeds</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Postings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Personal' Postings</a></li>
            <li><a class="dropdown-item" href="#">Incubator's' Postings</a></li>
            <li><a class="dropdown-item" href="#">Industries' Postings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">All Postings</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Roles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#" routerLink="/user">User</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/incubator">Incubator</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/industry">Industry</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/committee">Committee</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" routerLink="/admin">Admin</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">...</a>
        </li>
      </ul>
      
      <div class="md-form mt-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
        <button class="btn btn-primary me-3" type="submit">Search</button>
        <div>
          <nav class="navbar navbar-expand-sm navbar-light bg-dark">
            <div class="container-fluid">
              <ul class="navbar-nav"> -->
                <!-- Avatar -->
                <!-- <li mdbDropdown class="nav-item dropdown">
                  <a
                  class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                  >
                  <a style="color: dark;">. .</a>
                    <img
                      src="https://worldywcacouncil.org/wp-content/uploads/2015/04/speaker-3-v2.jpg"
                      class="rounded-circle"
                      height="32"
                      alt=""
                      loading="lazy"
                    />  <br>
                    <a class="text-muted" style="font-size: 2;">John Doe</a>
                  </a>
                  <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        
    
      

      
    </div>
  </div>
</nav>-->




  


<router-outlet></router-outlet>